NEXT_PUBLIC_PGS_SURFACE=admin
NEXT_PUBLIC_SITE_URL=http://localhost:3002
NEXT_PUBLIC_WEB_SITE_URL=http://localhost:3000
NEXT_PUBLIC_OPS_SITE_URL=http://localhost:3001
NEXT_PUBLIC_CMS_SITE_URL=http://localhost:3003
